@model IEnumerable<KursKayit>

<h2>Kurs Kayýtlarý</h2>
<a class="btn btn-primary" asp-controller="KursKayit" asp-action="Create">Kayýt Ekle</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">
                @Html.DisplayNameFor(m => m.KayitId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Ogrenci.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Kurs.Baslik)
            </th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KayitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ogrenci.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kurs.Baslik)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="KursKayit" asp-action="Edit" asp-route-id="@item.KayitId">Edit</a>
                    <a class="btn btn-danger" asp-controller="KursKayit" asp-action="Delete" asp-route-id="@item.KayitId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>